body {
  padding: 0;
  margin: 0 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}
.mymargin{
  margin: 0 0 50px  0 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-caption{
  color:#ffffff !important;
  font-family: monospace ,Roboto, serif !important;
  font-size: larger !important;
}
.carousel-caption h1{
  font-weight: bold;

}

.loading{
  position: fixed;

  left: 45%;
  top: 40%;
  width: 150px;
  height: 150px;
}
.loading2{
  position: relative;

  left: 40%;
  top: 20%;
  width: 150px;
  height: 150px;
}
.react-datepicker-wrapper{
  width: 100%;

}
.react-datepicker-popper{
  width: 100%;
  position: relative;
}
.react-datepicker{
  width: 90%;
  margin-left: 5%;

}
.react-datepicker__month-container{
  width: 100%;
  font-size: medium;

}
.react-datepicker__header{
  width: 100%;
  font-size: medium;
}
.react-datepicker__day-names{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.react-datepicker__month{
  width: 100%;
}
.react-datepicker__week{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
.react-datepicker__day{
  width: 100%;
  font-size: medium;
}